<div class="row">

  <div class="col-md-6">
  
    <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onchooseLocation($event)">
      <agm-marker *ngIf="locationSelected" [latitude]="latitude" [longitude]="longitude">
    
      </agm-marker>
    </agm-map>
  </div>
  
  <div class="container-fluid col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h2>Angualar Google Maps</h2>
        <div class="form-group">
          <label for="place">Search google map</label>
          <input type="text" id="place" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="false">
        </div>
      </div>
    </div>
  </div>
</div>